:host{
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color:rgb(101, 101, 101); 
}
.content{
    color: rgb(211, 211, 211);
    width: 100%;
    flex: 1;

    & h1 {
        margin: 0;
        text-align: center;
        padding-top: 1rem;
        padding-bottom: 1rem;
        background-color: rgb(32, 32, 32);
        margin-bottom: 1rem;
        
    }

    .formrounds{
        width: 60%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        text-align: center;
        font-style: italic;

        & input {
            border-radius: 8px;
            height: 1.6rem;
            width: 95%;
            font-family: 'Tomorrow', sans-serif;
            font-style: italic;
            margin:.2rem;
            background-color: rgb(32, 32, 32);
            color: rgb(211, 211, 211);
            font-size: larger;
            border: none;


        }

        & label {
            font-size: large;
            display: flex;
            justify-content: center;
            align-items: center;      
            border-radius: 8px;
            padding: .2rem;
        }

        .inputnumber{
            background-color: rgb(32,32,32,0.4);
            padding: .5rem;
            border-radius: 8px;

        }
    }

    .submit{
        display: flex;
        width: 100%;
        margin: 0 auto;
        justify-content: center;
        margin-top: 1rem;

        & button {
            cursor: pointer;
            width: 30%;
            height: 3rem;
            font-family: 'Tomorrow', sans-serif;
            font-style: italic;
            font-size: large;
            border-radius: 8px;
            border: none;
            background-color: rgb(32,32,32);
            color: rgb(211, 211, 211);
        }

        & button:active{
            font-size: small;
            transform: scale(0.98); /* Efecto de "presión" */
        }

    }


}
footer {
    font-style: italic;
    margin-top: auto;
    color: rgb(211, 211, 211);

    & a {
        color: rgb(13, 221, 221);
    }

    .credits{
        width: 80%;
        display: flex;
        text-wrap: wrap;
        margin: 0 auto;
        justify-content: center;
        text-align: center;

    }


}
@media screen and (max-width:768px) {
    .content{
        .formrounds{
            grid-template-columns: 1fr;
            
            & label {
                justify-content: left;
            }
        }
    }
}