.content{
    width: 100%;
    height: 100%;
    .chart {
        width: 256px;
        height: 256px;
        //background-color:rgb(182, 255, 146);
        border-radius: 100%;
        margin: 0 auto;
    }


    

    .timer {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 96px;
        margin-top: 1rem;

        .minutes,.seconds{
            display: flex;
            width: 152px;
            height: 100px;
            padding-top: 20px;
            border-radius: 16px;
        }

        .minutes{
            justify-content: flex-end;
            & span {
                margin-right: 1rem;
            }
        }

        .seconds{
            & span {
                margin-left: 1rem;
            }
        }
    }

    .round{
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 48px;
        
        & p {
            margin: 1rem;
        }
    }

    .buttons{
        display: flex;
        width: 100%;
        justify-content: center;
        gap: 1rem;

        & button {
            width:152px;
            height: 3rem;
            cursor: pointer;
            color: greenyellow;
            border: none;
            background-color: green;
            font-size: large;
            font-style: italic;
            font-family: 'Tomorrow',sans-serif;
            border-radius: 8px;
        }
        & button:active{
            font-size: small;
            transform: scale(0.98); /* Efecto de "presión" */
            box-shadow: 0px 0px 8px 8px ;
        }

    }
}