<div class="content">

    <div class="chart" [ngStyle]="{'background': 'conic-gradient( white 3.6deg * '+ percentage + ', rgb(182, 255, 146) 0deg);' }">

    </div>

    <div class="timer">
        <div class="minutes">
            <b><span>{{realminutes}}</span></b>
        </div>
        <span>:</span>
        <div class="seconds">
            <b><span>{{realseconds}}</span></b>
        </div>
    </div>

    <div class="round">
        <b><p>ROUND 1 OF 10</p></b>
    </div>

    <div class="buttons">
        <button><b>PAUSE</b></button>
        <button><b>NEXT ROUND</b></button>
    </div>

</div>
