<div class="content" [ngStyle]="{'background-color': bgstatus()}">

    <div class="chart" [ngStyle]="{'background': 'conic-gradient(transparent calc((3.6deg)*'+percentage+'), '+status()+' 0deg)'}">

    </div>

    <div class="timer">
        <div class="minutes" [ngStyle]="{'background-color': buttonstatus(), 'color':status()}">
            <b><span>{{realminutes}}</span></b>
        </div>
        <span [ngStyle]="{'color': buttonstatus()}">:</span>
        <div class="seconds" [ngStyle]="{'background-color': buttonstatus(), 'color':status()}">
            <b><span>{{realseconds}}</span></b>
        </div>
    </div>

    <div class="round">
        <b><p>ROUND {{currentround}} OF {{rounds}}</p></b>
    </div>

    <div class="buttons">
        <ng-container *ngIf="isrunning; else elseTemplate">
            <button (click)="stop()" [ngStyle]="{'color': status(), 'background-color':buttonstatus()}"><b>PAUSE</b></button>
        </ng-container>
        <ng-template #elseTemplate>
            <button (click)="start()" [ngStyle]="{'color': status(), 'background-color':buttonstatus()}"><b>RESUME</b></button>
        </ng-template>
        
        <button (click)="goToNextRound()" [ngStyle]="{'color': status(), 'background-color':buttonstatus()}"><b>NEXT ROUND</b></button>
    </div>

</div>
