html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Tomorrow';
    src: url('./assets/fonts/tomorrow-medium-webfont.woff2') format('woff2'),
         url('./assets/fonts/tomorrow-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Tomorrow';
    src: url('./assets/fonts/tomorrow-mediumitalic-webfont.woff2') format('woff2'),
         url('./assets/fonts/tomorrow-mediumitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
  }

  body {
    margin: 0;
    padding: 0;
    background-color: #daffeb;
    font-family: 'Tomorrow',sans-serif;
    //background: linear-gradient(#1e1b4b, #120c25);
}